{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel= "icon" href="../../../static/admin/img/flipkart.png" type= "image/x-icon">
    <title>{% block title %} {% endblock %}</title>
    <style>
      img{
    height:50px;
  }
  .footer{
   
   left:0;
   bottom:0;
   width:100%;
   text-align:center;
   color:white;
   background-color:#212141;
   background-image: url({% static "/admin/img/footer.svg" % });
   background-repeat: no-repeat;
   background-position: 100% center;
   z-index: 1;
 }
 .form-control{
	  width: 500px !important;
  }
 {% block css %} {% endblock %}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="navbar d-md-flex d-block flex-row mx-md-auto mx-0">
      <a class="navbar-brand" href="/">Flipkart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <form class="form-inline  ">
          <input class="form-control " type="search" placeholder="Search for products,brands and more" aria-label="Search">
          <button class="btn btn-outline-success " type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Nottification Preference</a>
              <a class="dropdown-item" href="#">Sell on Flipkart</a>
              <a class="dropdown-item" href="/signup">Sign Up</a>
              <a class="dropdown-item" href="#">24X7 Customer Care</a>
            </div>
          </li>
          <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.">
          
          
            Cart(<span id="cart">0</span>)
          </button>
           
        </ul>
      </div>
  </div>
    </nav>
      {% block body %}
      {% endblock %}

      <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   {% block js %} {% endblock %}
  </body>
  <div class="footer">
    <img src="../../../static/admin/img/flipkart.png">Flipkart PVT. Limited </img>
  </div>
</html>