{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel= "icon" href="../../../static/admin/img/flipkart.png" type= "image/x-icon">
	<title>Flipkart</title>
 <style>
  body{
	font-family: 'Roboto', sans-serif;
  }
  .form-control{
	  width: 500px !important;
  }
  .col-md-3
  {
	display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
          .col-md-3 img{
          width:100%;
          height:auto;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }



 </style>
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
		  <div class="navbar d-md-flex d-block flex-row mx-md-auto mx-0">
		<a class="navbar-brand" href="#">Flipkart</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		 
		  <form class="form-inline  ">
			<input class="form-control " type="search" placeholder="Search for products,brands and more" aria-label="Search">
			<button class="btn btn-outline-success " type="submit">Search</button>
		  </form>
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				More
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Nottification Preference</a>
				<a class="dropdown-item" href="#">Sell on Flipkart</a>
				<a class="dropdown-item" href="#">24X7 Customer Care</a>
				<a class="dropdown-item" href="http://127.0.0.1:8000/signup/">Signup</a>
			  </div>
			</li>
		  </ul>
		</div>
	</div>
	  </nav>
	  <div class="container">
		<div id="demo" class="carousel slide my-3" data-ride="carousel">
			<ul class="carousel-indicators">
			  <li data-target="#demo" data-slide-to="0" class="active"></li>
			  <li data-target="#demo" data-slide-to="1" ></li>
			  <li data-target="#demo" data-slide-to="2" ></li>
			</ul>
		
			<!--Slideshow starts here -->
			<div class="container carousel-inner no-padding">
		
			  <div class="carousel-item active">
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin//img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			   </div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin//img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin//img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin//img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
			  </div>
		
		
		
			  <div class="carousel-item">
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img//watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
			  </div>
		
			  <div class="carousel-item">
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			   </div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
		
				<div class="col-xs-3 col-sm-3 col-md-3">
				  <div class="card" style="width: 18rem;">
					<img src='{% static "/admin/img/watch.jfif" %}' class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		
		</div>
		
			<!-- left and right controls for the slide -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>