img{
height:50px;
}
.col-md-3 img{
width: 170px;
height: 200px;
}

.fa{
font-size:25px;
transition: .3s linear;
width:5vw;
height:5vw;
padding: 5vw;
margin:0 5px;
display:inline;
position: relative;
text-align: center;
}
.accordion{
list-style: none;
margin: 0;
padding: 0;
}
.accordion__row{
padding: 10px;
border-bottom: 1px solid #cccccc;
border-top: 1px solid;
}
.accordion__content{
max-height: 0;
overflow: hidden;
transition: height 0.3s ease-in-out;
}
.accordion__heading{
color: #fc4686;
display: flex;
padding: 20px 30px;


}
.Faq{
background-image: linear-gradient(to bottom right, #f7f8fd 30%, #e6e6ff 50%);
}
.fa-plus{
color:black;
padding-right: 70px;
}
.sub{
letter-spacing: 0.15em;
font-size: 14px;
display: block;
text-align: center;
color: #1A73E8;
margin-bottom: 5px;
font-weight: 700;
}
.fa-cart-plus::before{
color:black;
margin:-5vw;
}
.fa:hover{
transform: scale(1.7);
}

.fa-instagram::before{
background-color: #cc1111
color: pink;

}
.fa-github::before{
background-color: #000000
color: black;

}
.fa::hover i::before{
background-position: 0% 0%;
}

footer{
background-color:#212141;
left:0;
bottom:0;
width:100%;
text-align:center;
color:white;
background-image: url({% static "/admin/img/footer.svg" % });
background-repeat: no-repeat;
background-position: 100% center;
z-index: 1;
}

.form-control{
width: 40vw !important;
}
body{
font-family: 'Roboto', sans-serif;
}

.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width: 170px;
height: 200px;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: 0;
}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 222px;
}
.col-md-3
{
display: inline-block;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width: 170px;
height: 200px;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: -40px;
}
.carousel-indicators li {
background-color: #7270fc;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 222px;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
@media screen and (max-width:800px){
.form-control{
width:60vw !important;
}